<div class="wrapper">
  <div class="main-content">
    
    <h1>New Comment</h1>

    <%= form_with(model: [@post, @comment]) do | f | %>
      <div>
        <%= f.label "Name:" %>
        <%= f.text_field :author %>
      </div>
      <br/>
      <div class="form-group">
        <%= f.label "Comment:" %>
        <%= f.text_field :content %>
      </div>
      <br/>
      <%= f.submit %>
    
    <% end %>   
  </div>
    
  <footer>
    Avion School 2025
  </footer>
</div>
